.WeatherForecast{
    text-align: center;
}

.WeatherForecast-min-temp{
    opacity: 0.9;
    margin-left: 5px;
}

.WeatherForecast-max-temp{
    font-weight: bold;
}

.WeatherForecast-day{
    font-style: italic;
    font-weight: bold;
}