.WeatherForecast{
    text-align: center;
}
.WeatherIcon canvas{
    margin-left: 40px;
    margin-right: 5px;
    display: block;
}
.WeatherForecast-min-temp{
    opacity: 0.6;
    margin-left: 5px;
}